@media screen and (max-width: 1301px) {
    .burger {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 20px;
    }

    .header .header__inner.burger-open {
        align-items: flex-start;
    }

    .burger .burger-btn,
    .burger-btn-wrapper {
        display: flex;
    }

    .burger .burger-inner {
        display: none;
    }

    .burger-open .burger .burger-inner {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 20px;
    }

    .header .header__nav,
    .header .header__buttons {
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
    }
}

@media screen and (max-width: 1201px) {
    .about .about__img {
        width: 60%;
        height: unset;
    }
}

@media screen and (max-width: 901px) {
    .excursions .grid {
        justify-content: center;
        gap: 50px 0
    }

    .excursion-wrapper {
        width: 90%;
        padding: 0 10px;
    }

    .gallery img {
        width: 40%;
    }
}

@media screen and (max-width: 801px) {
    .about .row {
        align-items: flex-start;
        gap: 10px;
    }
    .about .about__img{
        width: 100%;
    }
    .track {
        flex-wrap: wrap;
    }

    .indent {
        padding-left: 20px;
    }

    .about .row .num {
        width: unset;
    }

    .gallery img {
        width: 100%;
    }
}

@media screen and (max-width: 631px) {
    .excursion .buttons{
        flex-direction: column;
        align-items: stretch;
        gap: 10px;
    }
    .popup-wrapper {
        width: 95%;
    }

    .popup {
        padding: 30px 20px;
    }

    .popup .popup__buttons{
        flex-direction: column;
        align-items: stretch;
    }

    .popup .popup__buttons button{
        flex: 1 1 100%;
    }

    .excursion-wrapper{
        width: 100%;
    }
    .footer .socials{
        flex-direction: column;
    }
}

@media screen and (max-width: 501px) {
    .footer .logo {
        flex-direction: column;
        align-items: flex-start;
    }
    .ticket{
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        padding: 10px;
        border-radius: 10px;
        border: 2px solid var(--accent-color);
    }
    .order-tickets{
        gap: 10px;
    }
    .order-tickets.indent{
        padding-left: 0;
    }
}